@tailwind base;
@tailwind components;
@tailwind utilities;


/* .ant-message {
  z-index: 99999 !important;
  background-color: red !important;
} */

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;  /* for Internet Explorer, Edge */
  scrollbar-width: none;     /* for Firefox */
}
